@font-face { 
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  src: url(./gotham.otf);
  }

.header {
  background: linear-gradient(180deg, #300763 0%, #150429 83.24%);
  box-shadow: 0px 4px 64px #DDDDDD;  
  clip-path: polygon(100% 0, 100% 40%, 0 78%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 40%, 0 78%, 0 0);
  height: 637px;
}

.header__vector{  
  height: 72%;
}

.header__logo{  
  height: 154px;
  width: 164px;
  margin-top: 50px;
  margin-left: -40px;
}

.header__punto{  
  width: 9px;
  height: 9px;
  background: #E1153F;
  border-radius: 50%;
  margin-top: 16px;
  margin-left: -45px;
}

.header__hr{
  position: absolute;
  width: 73.5px;
  height: 0px;
  left: 228px;
  top: 220px;  
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
}

.header__lema{
  font-size: 40px;
  color: #ffffff;
  margin-left: -40px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Gotham';
}

.header__button{
  font-size: 12px;
  margin-left: -40px;
}

.header__hrButton{
  width: 21px;
  position: relative;
  top: -28px;
  left: -40px;
  border: 0.1px solid #ffffff;
  background-color: #ffffff;
}

.header__carusel{
  position: absolute;
  max-width: 442px;
  height: 488px;
  left: 55%;
  top: 50px;
}

.header__carusel__img{
  max-width: 442px;
  height: 448px;
}

.header__next{
  position: absolute;
  left: 440px;
  top: -340px;
}

.header__back{
  position: absolute;
  left: -55px;
  top: -265px;
}

.header__Ws{
  border: 1px solid #E1153F;
  position: absolute;
  width: 132px;
  height: 36px;
  right: 10px;
  top: 10px;
}

.header__p{
  margin-top: 50px;
  color: #ffffff;
  position: absolute;
  font-family: 'Gotham';
  top: 7px;
  right: 10px;
}

.header__hrWs{
  width: 21px;
  position: absolute;
  right: 125px;
  top: 10px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
}

.body__titulo{
  font-size: 27px;
  color: #300862;
  font-family: 'Gotham';
}

.body__hrTitulo{
  max-width: 234px;
  height: 0px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
  margin-left: 0%;
  margin-top: -6px;
  margin-bottom: 5%;
}

.body__puntoTitulo{  
  width: 9px;
  height: 9px;
  background: #E1153F;
  border-radius: 50%;
  margin-top: -15px;
}

.body__circle{
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: #FBF8FF;
}

.body__img{
  padding: 20px;
}

.body__title{
  color: #25064B;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gotham';
}

.body__punto{
  width: 9px;
  height: 9px;
  background: #E1153F;
  border-radius: 50%;
}

.body__hr{
  width: 75px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
  margin-top: -5px;
}

.body__desc{
  color: #48128C;
  font-size: 16px;
  font-family: 'Gotham';
}

.body__model{
  width: 100%; 
  height: 1000px;
  background: #FBF8FF;
  box-shadow: 0px 4px 64px rgba(221, 221, 221, 0.07);
  clip-path: polygon(100% 0, 100% 50%, 0 74%, 0 80%);
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 74%, 0 28%); 
  position: relative;
  float: right;
  margin-top: -1060px;
  z-index:-1; 
}


.body__model1{
  width: 100%; 
  height: 1000px;
  background: #FBF8FF;
  box-shadow: 0px 4px 64px rgba(221, 221, 221, 0.07);
  clip-path: polygon(100% 0, 100% 50%, 0 74%, 0 80%);
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 74%, 0 28%); 
  position: relative;
  float: right;
  margin-top: -1070px;
  z-index:-1; 
}

.body__letra{
  float: left;
  margin-top: -1110px;
  margin-left: -100px;
  z-index:-1; 
}

.body__img__letra{
  min-width: 800px;
  max-height: 900px;
}

.body__titulo2{
  position: absolute;
  left: 8.7%;
  top: 120%;
  font-size: 27px;
  color: #300862;
}

.body__puntoTitulo2{ 
  position: absolute;
  left: 8.7%;
  top: 131%; 
  width: 9px;
  height: 9px;
  background: #E1153F;
  border-radius: 50%;
}

.body__puntoRedes{ 
  width: 9px;
  height: 9px;
  background: #E1153F;
  border-radius: 50%;
  position: relative;
  top: -27px;
  left: 0%;
}

.body__button{
  margin-top: 30px;
}

.body__hrButton{
  width: 40px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
  position: relative;
  top: -30px;
  left: 170px;
}


.body__hrTitulo2{
  max-width: 326px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
  margin-left: 0%;
  margin-top: -6px;
  margin-bottom: 5%;
}

.body__hrTitulo3{
  max-width: 440px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
  margin-left: 0%;
  margin-top: -6px;
  margin-bottom: 5%;
}

.body__hrTitulo4{
  width: 850px;
  border: 0.1px solid #E1153F;  
  background-color: #E1153F;
  margin-left: 0%;
  margin-top: -6px;
  margin-bottom: 5%;
}

.body_prom{  
  background: #C4C4C4;
  width: 95%;
  height: 323px;
  display: inline-block;
  margin-bottom: 10px;
}

.promo__title{
  font-size: 27px;
  color: #300862; 
  margin-top: 120px;
  font-family: 'Gotham';
}

.promo__subtitle{
  font-size: 17px;
  color: #1C004E;
  font-family: 'Gotham';
}

.footer{
  padding: 20px;
}

.footer__hr{
  width: 100%;
  height: 0px;  
  border: 0.1px solid #48128C;  
  background-color: #48128C;
}

.footer__copy{
  font-size: 16px;
  line-height: 19px;
  color: #25064B;
  text-align: center;
  font-family: 'Gotham';
}

.body__spacing__mobile{
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.body__spacing__model{
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
}

.body__spacing__redes{
  margin-top: 60px;
  margin-left: 140px;
  margin-right: 140px;
}

@media only screen 
  and (max-width: 360px)
  {
    .body__letra{
      display: none !important;
    }

    .header { 
      clip-path: polygon(100% 0, 100% 45%, 0 63%, 0 0);
      -webkit-clip-path: polygon(100% 0, 100% 45%, 0 63%, 0 0); 
    }

    .header__logo{
      width: 130px;
      position: relative;
      top: 30px;
      height: 120px;
    }

    .header__vector{  
     height: 450px;
     width: 300px;
    }

    .header__hr{  
      width: 73.5px;
      margin-top: -206px;    
      transform: translate(-85px);
      border: 0.1px solid #E1153F;  
      background-color: #E1153F;
    }
     
    .header__punto{  
      position: relative;
      top: 20px
    }
    
    .header__lema{
      position: relative;
      font-size: 20px;
      top: 20px;
    }

    .header__carusel{
      max-width: 250px;
      max-height: 300px;
      transform: translate(-13px, -15px);
    }

    .header__carusel__img{
      max-width: 250px;
      max-height: 300px;
    }

    .header__back{
      position: absolute;
      left: -40px;
      top: -205px;
      color: black;
    }
    
    .header__button{
      margin-top: 40px;
    }

    .header__hrButton{      
      width: 21px;
      margin-left: -55px;
      margin-top: -8px;
    }
    
    .body__mobile{
      margin-top: -80px;
      margin-left: 100px;
      transform: translate(0px, -55px);
    }

    .body__mobile1{
      margin-top: -50px;
      transform: translate(0px, -25px);
    }

    .body__var__mobile{
      margin-top: 30px;
    }

    .body__redes__img{
      width: 70px;
    }

    .body__hrButton{
      width: 20px;
      left: 150px;
      top: -40px
    } 

    .body__model{      
      clip-path: polygon(100% 0, 100% 94%, 0 100%, 0 6%);
      -webkit-clip-path: polygon(100% 0, 100% 94%, 0 100%, 0 6%);
      margin-top: -900px;
    }

    .body__model1{
      clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%);
      -webkit-clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%); 
      margin-top: -1880px;
    }

    .body__model2{
      width: 100%; 
      height: 1000px;
      background: #FBF8FF;
      box-shadow: 0px 4px 64px rgba(221, 221, 221, 0.07);
      z-index:-1; 
      clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%);
      -webkit-clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%); 
      margin-top: -1450px;
      position: relative;
      float: right;
    }

    .body__model3{
      width: 100%; 
      height: 1000px;
      background: #FBF8FF;
      box-shadow: 0px 4px 64px rgba(221, 221, 221, 0.07);
      z-index:-1; 
      clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%);
      -webkit-clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%); 
      margin-top: -1050px;
      position: relative;
      float: right;
    }


    .body__spacing__cont{
      /* margin-top: 30px; */
    }
  }

  @media only screen 
  and (max-width: 310px)
  {
    .body__hrButton{
      width: 25px;
      left: 120px;
    }

  }
@media only screen 
  and (max-width: 685px)
  {
    .body__letra{
      display: none !important;
    }

    .header__logo{
      margin-left: -80px;
      margin-top: 40px;
    }
    .header__vector{  
     margin-left: -100px;
    }
    .header__hr{  
      width: 73.5px;
      position: absolute;
      left: 100px;
      top: 210px;
      border: 0.1px solid #E1153F;  
      background-color: #E1153F;
    }
    .header__punto{  
      margin-left: -80px;
    }
    .header__lema{
      font-size: 23px;
      margin-left: -80px;
    }

    .header__carusel{
      margin-left: -15%;
      margin-top: -25px;
    }

    .header__button{
      margin-left: -80px;
    }

    .header__hrButton{
      width: 21px;
      position: absolute;
      top: 295px;
      left: 235px;
    }
    
    .body__var__mobile{
      margin-top: 30px;
    }

    .body__model{
      clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%);
      -webkit-clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%); 
      margin-top: -1070px;
    }

    .body__model1{
      clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%);
      -webkit-clip-path: polygon(100% 1%, 100% 45%, 0 51%, 0 6%); 
      margin-top: -1880px;
    }

    .body__spacing{
      margin-top: 15px;
    }
    .body__spacing2{
      margin-bottom: 15px;
    }

    .header__back{
      position: absolute;
      left: -40px;
      top: -225px;
    }

    .body__spacing__mobile {
      margin-top: 0px;
      margin-left: 6px;
      margin-right: 6px;
    }

    .body__spacing__model{
      margin-top: -20px;
      margin-left: 6px;
      margin-right: 6px;
    }

    .body__spacing__redes{
      margin-top: 0px;
      margin-left: 6px;
      margin-right: 6px;
    }

    .body__redes__img{
      width: 70px;
    }
    
    
  }
  

  @media only screen 
  and (max-width: 599px)
  {
    .body__rotar{
      transform: rotate(90deg);
    }

    .body__puntoRedes{ 
      position: relative;
      top: -121px;
      left: 0%;
    }
  }

  @media only screen 
  and (max-width: 1100px)
  {
    .body__letra{
      display: none !important;
    }

    .header__table{
      margin-left:-80px;
    }

    .header__hr{  
      margin-left: -85px;
    }
    .body__hrTitulo4{
      max-width: 650px;
    }

  }

  @media only screen 
  and (max-width: 1000px)
  {
    .body__letra{
      display: none !important;
    }
    .header__table{
      margin-left:-90px;
    }

    .header__hr{  
      margin-left: -8px;
    }
    
    .header {
      height: 850px;
    }

    .header__carusel{
      position: absolute;
      width: 331px;
      height: 329px;
      left: 25%;
      top: 380px;
    }

    .header__carusel__img{
      width: 331px;
      height: 329px;
    }

    .body__hrTitulo4{
      max-width: 650px;
    }

    .header__back{
      position: absolute;
      left: -40px;
      top: -225px;
    }
  }

@media only screen 
  and (max-width: 870px)
  {
    .body__hrTitulo4{
      width: 100%;
    }
    .body__redes__img{
      width: 70px;
    }

    .body__spacing{
      margin-top: 15px;   
    }

  }

